.page {
	max-width: 1000px;
	margin: auto;
}

.logo {
	margin: 20px;
}

.header {	
	height: 500px;
	background-image: url("../images/header.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: 'Archivo', sans-serif;
	overflow-x: hidden;
}

* {
	padding:0;
	margin: 0;
	z-index: 0;
}

header {
	height: 95px;
}

nav {
	width: 950px;
	background-color: #222931;
	height: 50px;
	position: absolute;
}

ul {
	list-style-type: none;
}

ul ul {
	display: none;	
}

nav > ul > li {
	display: inline-block;
	height: 50px;
}

 nav >  ul > li > a {
	padding: 0 10px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 500;
	line-height: 50px;
	display: block;
 }

nav > ul > li > a:hover, .overons:hover > a {
	color: #222931;
	background-color: #ffe718;
}

nav > ul > li:hover ul {
	position: absolute;
	display: block;
	width: 200px;
	height: 90px;
	background-color: #222931;
}

nav > ul > li > ul > li > a {
	text-decoration: none;
	color: lightgray;
	display: block;
	padding: 5px;
}

nav > ul > li > ul > li > a:hover {
	color: #222931;
	background-color: #ffe718;
}

section {
	height: 330px;

}

.banner {
	display: inline-block;
	width: 300px;
	height: 220px;
	margin: 10px;
	position: relative;
	top: 20px;
	left: 20px;
}

.bannerHover {
	position: absolute;
	background-color: rgba(34,41,49,0.8);
	width: 300px;
	height: 220px;	
	display: none;
}

.bannerHover > h2 {
	color: white;
	font-size: 32px;
	font-weight: 600;
	position: relative;
	text-align: center;
	top: 87px;
}

.banner:hover .bannerHover {

	display: block;
}

.ribbon {
	background-color: #ffe718;
	height: 160px;
	position: relative;
	top: 30px;
	display: grid;
	grid-template-columns: 900px auto;
}

.ribbontext {
	position: relative;
	left: 200px;
}

div > h1, p {
	display: inline-block;
	margin-top: 65px;
}

div > h1 {
	font-size: 34px;
	font-weight: 700;
}

div > p {
	font-size: 16px;
	font-weight: 700;
	 margin-left: 15px;
}

div > button {
	position: relative;
	top: 60px;
	left: 5px;
}

button > a {
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;	
	color: black;
}

.ribbonbutton > button {
	margin-top: 10px;
	background-color: white;
	padding: 12px 50px;
	border: none;
}

.ribbonbutton > button:hover {
	background-color: #222931;
}

button:hover > a {
	color: white;
}

.footer {
	background-image: url("../images/footer.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	top: 100px;
	position: relative;
	
}

.yellowbuttons {

	position: relative;
	top: 35px;
}

.yellowbuttons > a { 
	
	background-color: #ffe718;
	width: 300px;
	height: 100px;
	text-decoration: none;
	position: relative;
	float: left;
	margin: 15px;
	color: #222931;
}

.yellowtext {
	position: relative;
	left: 110px;
	top: 30px;
}

.yellowtext > h2 {
	font-size: 22px;
	font-weight: 600;
}

.yellowtext > p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 600;
}

.yellowbuttons > a > i {
	position: absolute;
	color: #222931;
	left: 35px;
	top: 26px;
}

.yellowbuttons:hover > a > .yellowtext, .yellowbuttons:hover > a > i {
	color: white;
}

.yellowbuttons:hover > a {
	background-color: #222931;
}

 hr {
 	position: relative;
 	left: 1.8%;
 	width: 95%;
 	top: 80px;
 }

.footertext {
	position: relative;
	top: 130px;
	width: 429px;
}

.footertext > h2 {
	color: #222931;
	font-size: 24px;
	font-weight: 600;
}

.footertext > p {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	color: #5f656d;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.footerinfo {
	position: absolute;
	right: 200px; 
	top: 128px;
}

footer {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.footerinfo > div > i {
	color: #aeb6be;
}

.footerinfo > div > p {
	margin: 20px;
	padding: 0px;
}

.bottomfooter {
	background-color: #222931;
	height: 50px;
	position: relative;
	top: 160px;
}

.bottomfooter > h2 {
	color: white;
	float: right;
	margin-right: 200px;
	margin-top: 15px;
	font-style: 12px;
	font-weight: 400px;
	line-height: 18px;
}

.dienstentext > p {
	margin-top: 10px;
}

.highlight { 
	color: #ffe718;
}

.highlightBox {
	z-index: 1;
	position: absolute;
	background-color: grey;
	color: white;
	width: 200px;
	padding: 10px;
	margin-top: 18px;
	display: none;
}

.highlight:hover > .highlightBox {
	display: inline-block;
} 

.dienstentext > h1 {
	font-size: 34px;
	font-weight: 600;
}

.breadcrumb {
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 30px;
}

.breadcrumb > a {
	text-decoration: none;
	color: black;
}