.page {
	max-width: 1000px;
	margin: auto;
}

.logo {
	margin: 20px;
}

.header {	
	height: 500px;
	background-image: url("../images/header.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: 'Archivo', sans-serif;
}

* {
	padding:0;
	margin: 0;
}

header {
	height: 95px;
}

nav {
	width: 950px;
	background-color: #222931;
	height: 50px;
	position: absolute;
}

ul {
	list-style-type: none;
}

ul ul {
	display: none;	
}

nav > ul > li {
	display: inline-block;
	height: 50px;
}

 nav >  ul > li > a {
	padding: 0 10px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 500;
	line-height: 50px;
	display: block;
 }

nav > ul > li > a:hover, .overons:hover > a {
	color: #222931;
	background-color: #ffe718;
}

nav > ul > li:hover ul {
	position: absolute;
	display: block;
	width: 200px;
	height: 90px;
	background-color: #222931;
}

nav > ul > li > ul > li > a {
	text-decoration: none;
	color: lightgray;
	display: block;
	padding: 5px;
}

nav > ul > li > ul > li > a:hover {
	color: #222931;
	background-color: #ffe718;
}


.banner {
	display: inline-block;
}

.banner > img {
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.ribbontext {
	position: absolute;
	left: 450px;
}

.ribbon {
	background-color: #ffe718;
	height: 160px;
}

div > h1, p {
	display: inline-block;
	margin-top: 65px;
}

div > h1 {
	font-size: 34px;
	font-weight: 700;
}

div > p {
	font-size: 16px;
	font-weight: 700;
	margin-left: 15px;
}

div > button {
	position: absolute;
	left: 1200px;
	top: 980px;
}

button > a {
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;	
	color: black;
}

.ribbonbutton > button {
	background-color: white;
	padding: 12px 50px;
	border: none;
}

.ribbonbutton > button:hover {
	background-color: grey;
}

button:hover > a {
	color: white;
}

.footer {
	background-image: url("../images/footer.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 1150px;
}